{% extends 'base.html' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <div class="container">
        <div class="header section left">
            <h1>ny-Toetrandro <i class="fa-solid fa-cloud"></i></h1>
            <h6>ny-Toetrandro est une application créée pour servir aux publics les données météorologiques par ville.</h6>
            <h6>Le but de ny-Toetrandro est de faire savoir la météo en temps réel.</h6>
            <h6>Les données météorologiques proviennent de différentes sources telles que des modèles météorologiques mondiaux et locaux, 
                des satellites, des radars et un vaste réseau de stations météorologiques</h6>
        </div>
    </div>
{% endblock %}
